/.vs/JustLogger/DesignTimeBuild/.dtbcache.v2
/.vs/JustLogger/v16/.suo
/JustLogger/.vs/JustLogger/DesignTimeBuild/.dtbcache.v2
/JustLogger/_nuget-push.bat
/JustLogger/bin/Debug
/JustLogger/bin/Release
/JustLogger/obj/Debug
/JustLogger/obj/Release
/JustLogger/obj
/JustLogger/redist/*.nupkg
/_package
/.vs
